@{
    ViewBag.Title = "CompeleteRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Complete Register</h2>

<h1>Congratulations you register in via Yubico's U2F</h1>

<p>
    @Html.ActionLink("Log in", "Login", "Home") now you can log in with Yubico's U2F
</p>
