@model DataModels.CompleteRegisterModel

@{
    ViewBag.Title = "Registeration Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User: "@Model.UserName" you have successfully registered</h1>

<p>
    @Html.ActionLink("Log in", "Index", "Home") now you can log in with Yubico's U2F
</p>