
@{
    ViewBag.Title = "Home Page";
}

@section featured
{
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
        <h2>ACP.NET MVC demo site for U2F</h2>
            <p>This demo will let you create a user and enroll a <a href="https://store.yubico.com/"> U2F device</a>, then authenticate yourself using the enrolled device. This requires a U2F device, as well as a browser with U2F support. Start by registering a user, then try logging in.</p>
            <p>
                <a href="https://www.yubico.com/products/yubikey-hardware/fido-u2f-security-key/" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
            </p>
            <p>
                @Html.ActionLink("Login", "Login", "Home", new {@class = "btn btn-lg btn-success"})
                @Html.ActionLink("Register", "Register", "Home", new {@class = "btn btn-lg btn-success"})
            </p>
        </div>
    </div>
}
