.leftColumn {
    float: left;
    width: 20%;
}

.rightColumn {
    float: right;
    width: 78%;
    height: 100%
}

.footer{
    width: 100%;
    height: 10%;    
}
.menuColor {
    background-color: #587BB0;
}
.headerBanner {
    background-image: url(../Images/header_1.jpg);
}
/* content */
.text-header {
    font-size: 1.0em;
    font-family: Arial;
    color: #333537;
    font-weight: bold;
}
.icon
{
    padding-right: 10px;
    padding-left: 10px;
}
.iconleft
{
    padding-right: 5px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.iconfoot
{
    padding-right: 5px;
    padding-left: 10px;
}
.pageContent {
    padding: 2%;
    color: #626262;
    font-size: 0.8em;
    font-family: Tahoma;
}
.pageContent a {
    font-size: 0.8em;
    color: #767676;
    font-family: Tahoma;
}
/* top elements */
.company {
    text-align: center;
    font-size: 1.4em;
    font-family: Arial;
    color: #ffffff;
    font-family: Arial;
}
.slogan {
    text-align: center;
    font-size: 0.8em;
    font-family: Tahoma;
    color: #ffffff;
    padding: 5px;
}
.slogantable {
    padding-right: 25px;
}
.copyright {    
    padding: 2%;
    text-align: center;
    font-size: 0.8em;
    font-family: Tahoma;
    color: #ffffff;
}
.logo{
    font-size: 0.7em;
    padding-right: 5px;
    padding-left: 5px;
    font-family: Arial;
    color: #FFFFFF;
    font-weight: normal;
}
.logoword{
    font-size: 18pt;
    padding-right: 4px;
    padding-left: 4px;
    font-weight: normal;
    color: #FFFFFF;
    font-family: Arial;
}
.logowordtop{
    font-size: 14pt;
    padding-right: 4px;
    padding-left: 4px;
    font-weight: normal;
    color: #FFFFFF;
    font-family: Arial;
}

/*main menu*/

#menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    line-height: 1;
}
/* The container */
#menu > ul {
    display: block;
    position: relative;
    /* The list elements which contain the links */

}
#menu > ul li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* General link styling */
#menu > ul li a {
    /* Layout */
    display: block;
    position: relative;
    margin: 0;
    border-top: 1px  #3a3a3a;
    border-bottom: 1px solid #1b1b1b;
    padding: 11px 20px;
    background: #587bb0;
    /* Typography */
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0em;
    font-weight: 300;
    text-align: left;
    /* Background & effects */
}
/* The hover state of the menu/submenu links */
#menu > ul li > a:hover,
#menu > ul li:hover > a {
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    background: #000000;
    background: -webkit-linear-gradient(#6f8cb8, #587bb0);
    background: -moz-linear-gradient(#6f8cb8, #587bb0);
    background: linear-gradient(#6f8cb8, #587bb0);
    border-color: transparent;
}
/* Changing the color of the arrow on hover */
#menu > ul li > a:hover::after,
#menu > ul li:hover > a::after {
    border-left: 4px solid #000000;
}
#menu > ul li > a:hover::before,
#menu > ul li:hover > a::before {
    border-left: 4px solid #FFFFFF;
}
/*end of main menu*/

/*table logo*/
.tableLogo {
    padding: 10px;
	background: #587BB0;
	background-color: #587BB0;	
}
.menua {
    font-size: 0.7em;
    font-family: Tahoma;
    color: #06142B;
    text-decoration: underline;
}
.menutable{
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-top: 5px;
}
/*submenu*/
.submenutable{
    padding-top: 5px;
    padding-bottom: 5px;
}
.submenua {
    font-size: 0.7em;
    color: #06142B;
    font-family: Tahoma;
    text-decoration: underline;
    padding-top: 0px;
    padding-bottom: 0px;
}
.submenu {
    font-size: 0.7em;
    color: #06142B;
    font-family: Tahoma;
    text-decoration: none;
}
.submenu-bg {
    background-color: #848684;
}
.bot_menu {
    font-size: 0.7em;
    font-family: Tahoma;
    color: #ffffff;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
}
.bmenu {
    font-size: 8pt;
    font-family: Tahoma;
    color: #06142B;
    text-decoration: none;
}
#bmenu a {
	color: #06142B;
}
.bmenua {
    font-size: 0.7em;
    font-family: Tahoma;
    color: #06142B;
    text-decoration: underline;
}
.menuline {
    color: #D6D6D6;
    text-decoration: none;
    background-color: #D6D6D6;
    width: 1px;
    background-repeat: repeat-y;
    background-position: center top;
}
.menu-hr { background-color: #FFFFFF; }
.line_logo {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-color: #CCCCCC;
    border-left-color: #CCCCCC;
}
.line_1 {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #E3E3E3;
}
.line_2 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
}
.line_3 {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCCCCC;
}